# Web framework
Flask==3.1.2
Flask-SQLAlchemy==3.1.1
Werkzeug==3.1.3
Jinja2==3.1.6
itsdangerous==2.2.0
click==8.3.0
MarkupSafe==3.0.2

# Database
psycopg2-binary==2.9.10
SQLAlchemy==2.0.43

# Utilities
certifi==2025.8.3
charset-normalizer==3.4.3
idna==3.10
packaging==25.0
python-dotenv==1.1.1
python-dateutil==2.9.0.post0
tzdata==2025.2
pytz==2025.2

# HTML / Parsing
beautifulsoup4==4.13.5
bs4==0.0.2
lxml==6.0.2
cssselect==1.3.0
pyquery==2.0.1
w3lib==2.3.1
lxml_html_clean==0.4.3
soupsieve==2.8

# Automation / Browsers
playwright==1.55.0
# pyppeteer rimosso per evitare conflitto con pyee
# pyee rimosso perché gestito da Playwright

# HTTP
requests==2.32.5
urllib3>=2.5.0,<3
sniffio==1.3.1
h11==0.16.0
websockets==10.4
websocket-client==1.8.0

# PDF / Reporting
reportlab==4.4.4

# Miscellaneous
attrs==25.3.0
colorama==0.4.6
blinker==1.9.0
greenlet==3.2.4
lz4==4.4.4
numpy==2.3.3
pandas==2.3.3
parse==1.20.2
passlib==1.7.4
packaging==25.0
pytweening==1.2.0
tqdm==4.67.1
typing_extensions==4.14.1
vulture==2.14
wheel==0.45.1
setuptools==80.9.0

# Gunicorn (server per Render)
gunicorn==21.2.0
